  body {
  margin: 0;
  position: relative;
  }
  
  #wrapper {
  width: 50%;
  text-align: center;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr, 1fr;
  }
  
  #thermo_body {
  background-color: cadetblue;
  grid-column: 1 / 4;
  display: grid;
  height: 100%;
  }
  
  #minus {
  background-color: coral;
  grid-column: 1 / 2;
  }
  
  #utility_btn {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 1fr;
  }
  
  #plus {
  background-color: darkkhaki;
  grid-column: 3 / 4;
  }
  
  #reset {
  background-color: darkseagreen;
  }
  
  #energy {
  color: white;
  }
  
  #powerSave {
  background-color: darkseagreen;
  }
  
  #display {
  background-color: white;
  display: grid;
  height: 50%;
  width: 50%;
  margin: auto;
  }
  
  #temp {
  font-size: 8em;
  }
  
  .btn-icon {
  font-size: 4em;
  }
  
  .btn-text {
  font-size: 1.5em;
  }

  

  
  